NEXT_PUBLIC_SERVICE_ENV=development
NEXT_PUBLIC_BASE_URL=https://myhalohq.com
NEXT_PUBLIC_MOBILE_APP_URL=
NEXT_PUBLIC_WEBSITE_URL=


# this is used on local only when the ENV is not PRODUCTION 
NEXT_PUBLIC_BASE_URL_STAGING=
