NEXT_PUBLIC_SERVICE_ENV=development
NEXT_PUBLIC_BASE_URL=https://myhalohq.com
NEXT_PUBLIC_MOBILE_APP_URL=
NEXT_PUBLIC_WEBSITE_URL=


NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBxHfEZBuAB0ovbdNrlTAdBge8mbaYmUtQ
AIzaSyBwsCOhw77yREq-K_8tU5dvcj0zTG2a_g0

# this is used on local only when the ENV is not PRODUCTION 
NEXT_PUBLIC_BASE_URL_STAGING=
